*,
*::after
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.7;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.icon-white {
  fill: #fff; }

.icon-small {
  width: 3rem;
  height: 3rem; }
  @media (max-width: 56.25em) {
    .icon-small {
      width: 2rem;
      height: 2rem; } }

.btn, .btn:active {
  padding: 2rem 5rem;
  background-color: transparent;
  border-radius: 3rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.14); }

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  background-color: #8846da;
  color: #fff; }
  .navigation__logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 700; }
  .navigation__smiley {
    font-size: 3rem;
    margin-right: 1rem;
    font-weight: 500; }
  .navigation__nav {
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    text-transform: capitalize; }
    .navigation__nav-item {
      padding: 1rem; }
      .navigation__nav-item a {
        text-decoration: none;
        color: #fff; }
  .navigation__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5rem; }

.hero {
  height: 100vh;
  background-color: #8846da;
  position: relative;
  background-image: url("../img/barriers.png");
  background-size: cover;
  position: relative; }
  .hero__text {
    font-size: 4rem;
    width: 20vw;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 1rem 1.5rem;
    color: #777; }
    @media (max-width: 56.25em) {
      .hero__text {
        width: 30vw;
        font-size: 2rem; } }

.expo {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.14);
  margin: 0 auto;
  margin-bottom: -6rem;
  z-index: 999;
  padding: 0 4rem;
  min-height: 60rem;
  background-color: #fff; }
  @media (max-width: 56.25em) {
    .expo {
      width: 100vw;
      padding: 0; } }
  .expo__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    font-size: 1.4rem;
    color: #777; }
    .expo__description h2 {
      font-size: 3rem;
      font-weight: 700; }
      @media (max-width: 56.25em) {
        .expo__description h2 {
          font-size: 1.5rem; } }
  .expo__article {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    font-size: 1.4rem;
    margin-left: 20rem;
    color: #777; }
    @media (max-width: 56.25em) {
      .expo__article {
        margin-left: 4rem;
        flex: 0 0 30%; } }
    .expo__article-icon {
      width: 8rem;
      height: 8rem;
      background-color: #FF4C56;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff; }
      @media (max-width: 56.25em) {
        .expo__article-icon {
          width: 4rem;
          height: 4rem; } }
    .expo__article-body h3 {
      font-size: 2.5rem;
      font-weight: 700; }
      @media (max-width: 56.25em) {
        .expo__article-body h3 {
          font-size: 1.5rem; } }

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBF8F5;
  padding: 12rem 20rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: -1; }
  @media (max-width: 56.25em) {
    .cta {
      padding: 6rem 0;
      width: 100%; } }
  @media (max-width: 56.25em) {
    .cta__header {
      display: flex;
      flex-direction: column;
      padding: 2rem 0; } }
  .cta__header h2 {
    font-size: 3rem;
    color: #777; }
    @media (max-width: 56.25em) {
      .cta__header h2 {
        font-size: 1.5rem;
        margin-bottom: 3rem; } }
  .cta__header span {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: -3rem;
    text-align: center; }
  .cta__body {
    display: flex;
    flex: 0 0 80%;
    justify-content: center;
    align-items: center; }
    @media (max-width: 56.25em) {
      .cta__body {
        flex: 0 0 100%; } }
  .cta__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.14);
    background-color: #fff;
    min-height: 60rem;
    margin: 2rem;
    padding: 2rem;
    text-align: left;
    position: relative; }
    @media (max-width: 56.25em) {
      .cta__card {
        margin: 0 .5rem;
        flex: 0 0 25%; } }
    .cta__card--icon {
      width: 3rem;
      height: 3rem; }
    .cta__card h2 {
      font-size: 3rem;
      color: #777; }
    .cta__card span {
      font-size: 1.8rem;
      color: #777; }

.primary {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 4px solid #8846da;
  position: absolute;
  top: 70%;
  left: 60%; }
  @media (max-width: 56.25em) {
    .primary {
      top: 70%;
      left: 35%; } }

.secondary {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 4px solid #ffb300;
  position: absolute;
  top: 65%;
  left: 65%; }
  @media (max-width: 56.25em) {
    .secondary {
      top: 75%;
      left: 40%; } }

.tertiary {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 4px solid #FF4C56;
  position: absolute;
  top: 70%;
  left: 70%; }
  @media (max-width: 56.25em) {
    .tertiary {
      top: 80%;
      left: 40%; } }

.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8rem 2rem; }
  .companies__item {
    flex: 0 0 20%; }
    .companies__item img {
      width: 20rem;
      height: auto; }
      @media (max-width: 56.25em) {
        .companies__item img {
          width: 10rem; } }

.demo {
  background-color: #8846da;
  min-height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 56.25em) {
    .demo {
      min-height: 45rem; } }
  .demo__header {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    width: 30%; }
    @media (max-width: 56.25em) {
      .demo__header {
        width: 60%; } }
  .demo__content {
    width: 30%;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    padding-bottom: 5rem; }
    @media (max-width: 56.25em) {
      .demo__content {
        width: 60%; } }
  .demo__button {
    padding-bottom: 4rem;
    width: 30%; }
    @media (max-width: 56.25em) {
      .demo__button {
        width: 60%; } }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 40rem; }
  .footer__social {
    display: flex;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .footer__social {
        flex: 0 0 10%; } }
    .footer__social--header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 3.5rem;
      font-weight: 700;
      margin-bottom: 2rem; }
      @media (max-width: 56.25em) {
        .footer__social--header {
          font-size: 3rem;
          font-weight: 500; } }
      .footer__social--header span {
        font-size: 3rem;
        font-weight: 700;
        color: #D6D6D6;
        margin-right: 2rem; }
        @media (max-width: 56.25em) {
          .footer__social--header span {
            margin-right: 1rem;
            margin-left: 1rem; } }
    .footer__social--footer {
      display: flex;
      justify-content: flex-start; }
    .footer__social--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 2px solid #FBF8F5;
      margin: 1rem;
      fill: #D6D6D6; }
      @media (max-width: 56.25em) {
        .footer__social--icon {
          width: 3rem;
          height: 3rem; } }
    .footer__social--copy {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.8rem;
      margin-top: 4rem;
      color: #D6D6D6; }
      @media (max-width: 56.25em) {
        .footer__social--copy {
          flex: 0 0 20%; } }
  .footer__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 20%;
    margin: -1rem; }
    @media (max-width: 56.25em) {
      .footer__section {
        flex: 0 0 15%; } }
    .footer__section h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
      @media (max-width: 56.25em) {
        .footer__section h3 {
          font-size: 1.5rem;
          font-weight: 500; } }
  .footer__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    font-size: 1.4rem;
    margin: 0;
    padding: 0; }
    .footer__link-item {
      margin-bottom: 1rem; }
      .footer__link-item a {
        text-decoration: none;
        text-align: center;
        color: #D6D6D6; }
