.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8rem 2rem;

  &__item {
    flex: 0 0 20%;
    & img {
      width: 20rem;
      height: auto;

      @include respond('tab-port') {
        width: 10rem;
      }
    }
  }
}
