.expo {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2rem 3rem rgba($color-black, .14);
  margin: 0 auto;
  margin-bottom: -6rem;
  z-index: 999;
  padding: 0 4rem;
  min-height: 60rem;
  background-color: $color-white;

  @include respond('tab-port') {
    width: 100vw;
    padding: 0;
  }

  &__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    font-size: 1.4rem;
    color: $color-grey-1;

    & h2 {
      font-size: 3rem;
      font-weight: 700;

      @include respond('tab-port') {
        font-size: 1.5rem;
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    font-size: 1.4rem;
    margin-left: 20rem;
    color: $color-grey-1;

    @include respond('tab-port') {
      margin-left: 4rem;
      flex: 0 0 30%;
    }

    &-icon {
      width: 8rem;
      height: 8rem;
      background-color: $color-tertiary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;

      @include respond('tab-port') {
        width: 4rem;
        height: 4rem;
      }
    }

    &-body {
      & h3 {
        font-size: 2.5rem;
        font-weight: 700;

        @include respond('tab-port') {
          font-size: 1.5rem;
        }
      }
    }
  }
}
