.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 40rem;

  &__social {
    display: flex;
    flex-direction: column;

    @include respond('tab-port') {
      flex: 0 0 10%;
    }

    &--header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 3.5rem;
      font-weight: 700;
      margin-bottom: 2rem;

      @include respond('tab-port') {
        font-size: 3rem;
        font-weight: 500;
      }

      & span {
        font-size: 3rem;
        font-weight: 700;
        color: $color-grey-3;
        margin-right: 2rem;

        @include respond('tab-port') {
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
    }

    &--footer {
      display: flex;
      justify-content: flex-start;
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 2px solid $color-grey-2;
      margin: 1rem;
      fill: $color-grey-3;

      @include respond('tab-port') {
        width: 3rem;
        height: 3rem;
      }
    }

    &--copy {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.8rem;
      margin-top: 4rem;
      color: $color-grey-3;

      @include respond('tab-port') {
        flex: 0 0 20%;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 20%;
    margin: -1rem;

    @include respond('tab-port') {
      flex: 0 0 15%;
    }

    & h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      @include respond('tab-port') {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;

    &-item {
      margin-bottom: 1rem;
      & a {
        text-decoration: none;
        text-align: center;
        color: $color-grey-3;
      }
    }
  }
}
