.hero {
  height: 100vh;
  background-color: $color-primary;
  position: relative;
  background-image: url('../img/barriers.png');
  background-size: cover;
  position: relative;

  &__text {
    font-size: 4rem;
    width: 20vw;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 1rem 1.5rem;
    color: #777;
  }
}
